<html>
<head>
	<title>Javascript</title>
	<script type="text/javascript" src="../library/jquery/jquery-1.6.1.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link href='../library/grid/960.css' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css' href='../static/css/options.css'>
</head>

<body class="container_16">

	<div id="content" class="grid_9 prefix_2">
	
		<div class="empty-msg">The database is empty, click "Add New" to start.</div>
	
		<div class="row sample">
			
			<div class="detail">
				<div class="url">
					<label class="hasome">Url</label>
					<input type="text" value="http://www.nicholasworkshop.com/"/>
				</div>
				<div class="description">
					<label class="hasome">Title</label>
					<input type="text" value="Nicholas Workshop Debug"/>
				</div>
				<div class="script">
					<label class="hasome">Script</label>
					<textarea>alert('Script Injected!');</textarea>
				</div>
			</div>
			
			<div class="action">
				<div class="save">
					<label>Save</label>
				</div>
				<div class="delete">
					<label>Delete</label>
				</div>
				<div class="autorun">
					<label>Autorun</label>
					<input type="checkbox" checked />
				</div>
				<div class="jquery">
					<label>jQuery</label>
					<input type="checkbox" checked />
				</div>
				<div class="regex">
					<label>RegEx</label>
					<input type="checkbox" />
				</div>
			</div>
			
			<div class="status unsaved">Unsaved.</div>
			
		</div>
	</div>

	<div id="header" class="grid_3 suffix_2">
		<div class="title">Javascript Injector</div>
		<div class="subtitle">By Nicholas Workshop</div>
		<div class="description">
			It can help you save your JavaScript and auto inject it onto the web page. 
			This is a Chrome extension which can let you execute javascript and get immediate result. 
			It allows you to save the script you injected, and run everytime you open the webpage! 
			Also, jQuery is enabled, you can freely modify pages with it!
		</div>
		<div class="add">
			<label>Add New</label>
		</div>
		<div class="delete-all">
			<label>Delete All</label>
		</div>
	</div>


</body>

<script type="text/javascript" src="../controller/options.js"></script>

</html>