<html>

<head>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css' href='../static/css/popup.css'>
    <script type="text/javascript" src="../library/jquery/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="../library/ace/src-min-noconflict/ace.js" charset="utf-8"></script>
    <script type="text/javascript" src="../controller/popup.js"></script>
</head>

<body>

<div class="bubble-table">
    <div class='awesome-textfield'>
        <label>Title</label>
        <input type="text" value=""/>
    </div>
    <div class='awesome-textfield'>
        <label>Description</label>
        <textarea rows="2"></textarea>
    </div>
</div>

<div class="bubble-table">
    <div class='awesome-textfield'>
        <label>Url</label>
        <input id="url-textfield" type="text" value=""/>
    </div>
    <div id="message-entry">
        Message
    </div>
</div>

<div id="editor-wrapper">
    <div id="editor"></div>
</div>

<div class="bubble-panel">
    <div>
        <label>Autorun</label>
        <input type="checkbox" checked/>
    </div>
    <div>
        <label>jQuery</label>
        <input type="checkbox" checked/>
    </div>
    <div>
        <label>RegEx</label>
        <input type="checkbox"/>
    </div>
</div>

<div class="bubble-button">
    <label>Inject</label>
</div>

</body>

</html>