body {
  background-color: #F2F5F6;
  width: 960px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  padding: 10px;
}
#header .title {
  font-size: 14px;
  font-weight: 600;
}
#header .subtitle {
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 0.5em;
}
#header .description {
  font-size: 11px;
  margin-bottom: 10px;
}
#header .add,
#header .delete-all {
  margin: 4px 0px 4px 0px;
  display: block;
  padding: 4px;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: #D9D9D9;
  background-color: #FFF;
  position: relative;
  border-top-width: 1px;
  -webkit-border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
#header .add label,
#header .delete-all label {
  cursor: pointer;
  font-size: 11px;
}
#content.empty .empty-msg {
  padding-top: 100px;
  display: block;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  font-size: 16px;
}
#content .empty-msg {
  display: none;
}
#content .row {
  border-style: solid;
  border-width: 1px;
  border-color: #D9D9D9;
  background-color: white;
  overflow: hidden;
  margin-bottom: 10px;
  -webkit-border-radius: 4px;
}
#content .row div {
  position: relative;
}
#content .row.sample {
  display: none;
}
#content .row:not(.sample) {
  display: block;
}
#content .row .detail {
  width: 419px;
  float: left;
}
#content .row .detail .description,
#content .row .detail .url,
#content .row .detail .script {
  padding: 4px;
  border-bottom: solid 1px #D9D9D9;
  border-right: solid 1px #D9D9D9;
}
#content .row .detail .description:last-child,
#content .row .detail .url:last-child,
#content .row .detail .script:last-child {
  border-bottom: none;
}
#content .row .detail .description label,
#content .row .detail .url label,
#content .row .detail .script label {
  top: 8px;
  left: 4px;
  color: #777;
  position: absolute;
  white-space: nowrap;
  cursor: text;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-transition: opacity 0.4s, font-size 0.5s;
  -moz-transition: opacity 0.4s, font-size 0.5s;
  -o-transition: opacity 0.4s, font-size 0.5s;
}
#content .row .detail .description label.hasome,
#content .row .detail .url label.hasome,
#content .row .detail .script label.hasome {
  opacity: 0;
  font-size: 0 !important;
}
#content .row .detail .description input[type="text"],
#content .row .detail .url input[type="text"],
#content .row .detail .script input[type="text"] {
  border: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  width: 100%;
}
#content .row .detail .description textarea,
#content .row .detail .url textarea,
#content .row .detail .script textarea {
  border: 0;
  font-family: 'Ubuntu Mono', sans-serif;
  font-size: 12px;
  width: 100%;
  height: 96px;
}
#content .row .action {
  width: 99px;
  float: right;
}
#content .row .action div {
  padding: 8px;
  overflow: hidden;
  border-bottom: solid 1px #D9D9D9;
}
#content .row .action div:last-child {
  border-bottom: none;
}
#content .row .action div.save,
#content .row .action div.delete {
  text-align: center;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e0efd3), color-stop(1, #eff8e6));
  font-size: 16px;
  font-weight: 600;
  text-shadow: #EDF6E5 1px 1px 0;
  cursor: pointer;
  font-size: 11px;
}
#content .row .action div.save label,
#content .row .action div.delete label {
  cursor: pointer;
}
#content .row .action div.save:hover,
#content .row .action div.delete:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(1, #e0efd3), color-stop(0, #eff8e6));
}
#content .row .action div.autorun,
#content .row .action div.jquery,
#content .row .action div.regex {
  text-align: center;
  font-size: 11px;
}
#content .row .action div.autorun input[type="checkbox"],
#content .row .action div.jquery input[type="checkbox"],
#content .row .action div.regex input[type="checkbox"] {
  float: right;
}
#content .row .status {
  float: left;
  width: 100%;
  padding: 0px 4px 0px 4px;
  border-top: solid 1px #D9D9D9;
  font-size: 11px;
  display: none;
}
#content .row .status.unsaved {
  background-color: #FF0000;
}
